In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.Series(np.random.randn(9),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                           [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [5]:
data
#Multi indexing

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [6]:
#randn may only positive values ati haen >=1
#rand may only -1_0  values   ati haen

In [7]:
data['a'][1]

0.7622276674758278

In [8]:
data["a"][2]

0.7372959467200185

In [9]:
data["d"][3]

1.6145171402352458

In [10]:
data["c"][2]

-1.7405567515928564

In [11]:
data['a'][4]

KeyError: 4

In [12]:
data[:][2]

-0.9866934637389421

In [13]:
data["a":][2]

-0.9866934637389421

In [14]:
data.loc["a":"c":2]

a  1    0.762228
   3   -0.986693
b  3    0.913599
c  2   -1.740557
dtype: float64

In [15]:
data.loc["a":"c"]

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
dtype: float64

In [16]:
data.loc["a":"c"][2]

-0.9866934637389421

In [17]:
data.loc[["a","c","b"]]

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
dtype: float64

In [18]:
data[:]

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [19]:
data.loc[:,2]

a    0.737296
c   -1.740557
d   -0.817775
dtype: float64

In [22]:
data

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [23]:
data.loc["a":"b",2]#b may 2 nahi hae

a  2    0.737296
dtype: float64

In [24]:
data.loc["a":"c",2]

a  2    0.737296
c  2   -1.740557
dtype: float64

In [25]:
data.loc["d",2]

-0.8177749516354612

In [26]:
data.unstack()

          1         2         3
a  0.762228  0.737296 -0.986693
b  0.704008       NaN  0.913599
c  0.194756 -1.740557       NaN
d       NaN -0.817775  1.614517

In [27]:
data

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [28]:
data.unstack(fill_value=98)

           1          2          3
a   0.762228   0.737296  -0.986693
b   0.704008  98.000000   0.913599
c   0.194756  -1.740557  98.000000
d  98.000000  -0.817775   1.614517

In [29]:
data.unstack(level=-1)

          1         2         3
a  0.762228  0.737296 -0.986693
b  0.704008       NaN  0.913599
c  0.194756 -1.740557       NaN
d       NaN -0.817775  1.614517

In [31]:
data.unstack(level=0)#level denotes child

          a         b         c         d
1  0.762228  0.704008  0.194756       NaN
2  0.737296       NaN -1.740557 -0.817775
3 -0.986693  0.913599       NaN  1.614517

In [32]:
data

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [33]:
data.unstack().stack()

a  1    0.762228
   2    0.737296
   3   -0.986693
b  1    0.704008
   3    0.913599
c  1    0.194756
   2   -1.740557
d  2   -0.817775
   3    1.614517
dtype: float64

In [34]:
 frame = pd.DataFrame(np.arange(12).reshape((4, 3)), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                        columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

In [35]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [44]:
frame["Ohio"]["Red"]["b"][2]

10

In [54]:
frame["Ohio"].loc["b",2]

Green     9
Red      10
Name: (b, 2), dtype: int32

In [55]:
frame["Ohio"]["Green"].loc["b",2]

9

In [62]:
frame["Ohio"].iloc[1]

color
Green    3
Red      4
Name: (a, 2), dtype: int32

In [63]:
frame["Ohio"].iloc[3]

color
Green     9
Red      10
Name: (b, 2), dtype: int32

In [58]:
frame.index.names = ['key1', 'key2']

In [59]:
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [60]:
frame.columns.names = ['state', 'color']

In [61]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11